/* All styles for your header Components live here */
.HeaderContainer{
    display: flex;
    flex-flow: row;
    width: 100%;
    /* border: 1px solid black; */
}

.ImageThumbnail{
    width: 7%;
    height: 7%;
    margin: 0 1%;
}

.HeaderTitle{
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-right: 1%;
    width: 60%;
    /* border: 1px solid black; */
}

.HeaderContent{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    height: 25%;
    /* border: 1px solid black; */
}

.HeaderTitle p {
font-size: 12px;
}

.HeaderTitle h1 {
    margin: 0;
}

.top-p {
    margin: 1% auto;
    margin-bottom: 3%;
}